@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  
}

body {
  height: 100vh;
}

* {
  transition: all 0.15s ease-in;
}

#__next {
  @apply h-full overflow-hidden 
          text-$text
          flex;
  font-size: 16px;
  line-height: 18px;
  
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  @apply uppercase font-bold;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.default_button {
  @apply uppercase font-bold
          rounded-md p-2
          flex justify-center w-full
          bg-$tertiary;
  font-size: 20px;
  line-height: 20px;

  &.small {
    @apply justify-between;
    font-size: 16px;
    line-height: 18px;
  }
}